:root {
  --primary: rgb(0, 118, 200);
  --accent: rgb(201, 226, 217);
  --light-accent: rgb(213, 235, 227, 0.4);
  --black: rgb(0,0,0);
  --dark-yellow: #F1B740;
  --medium-grey: #bdc3c7;
  --light-black: rgb(125, 126, 128);
  --btn-red: #F94340;
  --aqua-green: #55BCB3;
}


body {
  margin: 0;
  padding: 0;
}


.all-badge .MuiBadge-colorPrimary{
  background: white;
  color: var(--black);
}

.ongoing-badge .MuiBadge-colorPrimary{
  background: var(--dark-yellow);
  color: white;
}

.submitted-badge .MuiBadge-colorPrimary{
  background: var(--aqua-green);
  color: white;
}

.completed-badge .MuiBadge-colorPrimary{
  background: var(--medium-grey);
  color: white;
}

.draft-badge .MuiBadge-colorPrimary{
  background: var(--light-black);
  color: white;
}

.rejected-badge .MuiBadge-colorPrimary{
  background: var(--btn-red);
  color: white;
}

.lower-padding th, .lower-padding td{
  padding: 10px !important;
}

.customized-title h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emptyBorder {
  border: none;
} 

.emptyBorder:focus {
    border: none;
}

.emptyBorder:hover {
    border: none;
}

.emptyBorder:active {
    border: none;
}

.emptyBorder:focus-visible {
    border: none;
    outline: none;
}

.custom-btn {
  display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
